<div class="header text-end pt-3 pe-3">
  <% if homepage.nil? %>
    <h1 class="title"><%= title %></h1>
  <% else %>
    <h1 class="title"><a target="_blank" href="<%= homepage %>"><%= title %></a></h1>
  <% end %>
  <span class="separator border-end pb-2 ms-2 me-2"></span>
  <span class="text-secondary version"><%= version %></span>
  <span class="separator border-end pb-2 ms-2 me-2"></span>
  <div class="theme-switcher">
    <%= RSpecDocumentation.template(:sun, :svg).result %>
    <%= RSpecDocumentation.template(:moon, :svg).result %>
  </div>
</div>

<hr/>
