<html>
  <head>
    <meta charset="utf-8" />
    <%= RSpecDocumentation.template(:stylesheet_links).result(binding) %>
  </head>

  <body>
    <div class="container m-3 p-3">
      <div class="bg-light sticky-top">
        <%= header %>
      </div>

      <div class="row flex-nowrap">
        <div class="col-sm-2 fs-6 mt-1 ms-3 me-3">
          <ol class="page-tree hidden position-fixed">
            <% page_tree.elements.each do |element| %>
              <%= element %>
            <% end %>
          </ol>
        </div>

        <div class="col">
          <%= html %>
          <%= footer %>
        </div>
      </div>
    </div>

    <%= RSpecDocumentation.template(:script_tags).result(binding) %>
  </body>
</html>
