<html data-bs-theme="dark">
  <head>
    <%= RSpecDocumentation.template(:stylesheet_links).result(binding) %>
  </head>

  <body>
    <div class="container m-3 p-3">
      <div class="bg-light sticky-top">
        <%= header %>
      </div>

      <div class="row">
        <div class="col-sm-2 page-tree fs-6 mt-1 ms-3 me-3">
          <% page_tree.elements.each do |element| %>
            <%= element %>
          <% end %>
        </div>

        <div class="col">
          <%= html %>
        </div>
      </div>
      <%= footer %>
    </div>

    <%= RSpecDocumentation.template(:script_tags).result(binding) %>
  </body>
</html>
