<html>
  <head>
    <style>

       /* cerulean, cosmo, cyborg, darkly, flatly, journal, litera, lumen, lux, materia, minty, morph,
          pulse, quartz, sandstone, simplex, sketchy, slate, solar, spacelab, superhero, united, vapor,
          yeti, zephyr */
      <%= RSpecDocumentation.theme(:materia) %>

      /* Base16, BlackWhiteTheme, Colorful, Github, Gruvbox, IgorPro, Magritte, Molokai, Monokai,
         MonokaiSublime, Pastie, ThankfulEyes, Tulip */
      <%= Rouge::Themes::Molokai.render %>

      /* https://stackoverflow.com/a/61587938 */
      .consistent-height .tab-content {
        display: flex;
      }

      .consistent-height .tab-content > .tab-pane {
        display: block; /* undo "display: none;" */
        visibility: hidden;
        margin-right: -100%;
        width: 100%;
      }

      .consistent-height .tab-content > .active {
        visibility: visible;
      }


      .code {
        font-family: monospace;
        max-height: 30rem;
        overflow-y: auto;
      }

      h1.title {
        display: inline;
      }

      .header .separator {
        display: inline-block;
        height: 2.5rem;
      }

      .version {
        font-size: 2rem;
      }

      .highlight {
        padding: 1rem;
      }

      .ansi-html {
        display: inline-block;
        background-color: #2e2e2e;
        border: 5px solid #2e2e2e;
        border-radius: 10px;
      }

      .ansi-html .ansi-color-0 { color: var(--bs-dark); }
      .ansi-html .ansi-color-1 { color: var(--bs-red); }
      .ansi-html .ansi-color-2 { color: var(--bs-green); }
      .ansi-html .ansi-color-3 { color: var(--bs-yellow) }
      .ansi-html .ansi-color-4 { color: var(--bs-blue); }
      .ansi-html .ansi-color-5 { color: var(--bs-purple); }
      .ansi-html .ansi-color-6 { color: var(--bs-cyan); }
      .ansi-html .ansi-color-7 { color: var(--bs-white); }
      .ansi-html .ansi-color-9 { color: var(--bs-light); }
      .ansi-html .ansi-color-reset { color: var(--bs-light);; }

    </style>
  </head>

  <body>
    <div class="container m-3 p-3">
      <div class="bg-light sticky-top">
        <%= header %>
      </div>

      <div class="row">
        <div class="col-auto page-tree fs-6 mt-1 ms-3 me-3">
          <% page_tree.elements.each do |element| %>
            <%= element %>
          <% end %>
        </div>

        <div class="col">
          <%= html %>
        </div>
      </div>
      <%= footer %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
  </body>
</html>
