<div class="modal fade" id="modal-<%= element_id %>-side-by-side" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-<%= element_id %>-side-by-side-label">Side-by-side view</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container p-3">
          <div class="row border">
            <div class="col border">
              <h5>Code</h5>
              <hr/>
              <div class="p-3 mb-5 code highlight">
                <%= code_source.gsub("\n", '<br/>').gsub('  ', '&nbsp;&nbsp;') %>
              </div>
            </div>

            <% unless html_source.nil? %>
            <div class="col border">
              <h5>Output</h5>
              <hr/>
              <div class="p-3 mb-5 code highlight">
                <%= html_source.gsub("\n", '<br/>').gsub('  ', '&nbsp;&nbsp;') %>
              </div>
            </div>
            <% end %>

            <div class="col border">
              <% if html_source.nil? %>
                <h5>Output</h5>
              <% else %>
                <h5>Rendered HTML</h5>
              <% end %>
              <hr/>
              <div class="p-3 mb-5 <%= html_source.nil? ? 'code highlight' : nil %>">
                <%= rendered_result %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
